{
    "presets": [
      [
        "@babel/preset-env",
        {
          "targets": {
            "node": "current"
          }
        }
      ],
      "@babel/preset-react"
    ],
    "plugins": [
      [
        "@locator/babel-jsx/dist",
        {
          "env": "development"
        }
      ]
    ]
}