.ProfileImageFlex {
  display: flex;
}
.profileImageContainer {
  margin-top: -112px;
  z-index: 4;
  text-align: left;
  margin-left: 24px;
}
.photoWrapper {
  background-clip: border-box;
  background-color: #fff;
  width: 160px;
  height: 160px;
  box-sizing: border-box;
  border-radius: 49.9%;
  border: 4px solid #fff;
  box-shadow: none;
  margin: auto;
  position: relative;
}

.profilePhoto {
  width: 100%;
  height: 100%;
  display: block;
}

.profilePhoto img {
  width: 152px;
  height: 152px;
  border-radius: 50%;
}
