.cameraIcon {
  height: 32px;
  width: 32px;
  min-width: auto;
  background-color: #fff;
  color: #0a66c2;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  margin: 10px;
  right: 33%;
  cursor: pointer;
}
